<div class="text">
  <p>Because the fediverse is decentralized, there is currently no easy way to add a "follow" link on other websites.
    FediFollow was created to try and make this easier.</p>
  <p>To be taken to your "follow" page, please enter your handle below.</p>
</div>
<form method="GET" action="/follow">
  <div class="follow__wrapper">
    <label class="follow__label" for="account">Your handle:</label>
    <input class="follow__input" id="account" type="text" name="account"/>
    <button class="follow__submit" type="submit">Go to my "follow" page</button>
  </div>
</form>
