{% include "includes/user.njk" %}
<div class="text">
    <p>Sorry, there was an issue trying to redirect you to your server's follow page.</p>
    <p>Put the URL below into the search on your server to find this account.</p>
</div>
<div class="follow__wrapper">
    <input class="follow__input" id="follower" type="text" name="follower" value="{{ url }}"/>
</div>
